/*
 * @Author: chentian
 * @Date: 2019-02-24 17:00:42
 * -----
 * @Modified By: chentian
 * @Last Modified: 2019-02-24 17:00:43
 */
.mgb20 {
    margin-bottom: 20px;
}

.mgt20 {
    margin-bottom: 20px;
}

.serch-box{
    .serch-txt{
        width: 300px;
    }
    .serch-lable{
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
    }
}