/*
 * @Author: chentian
 * @Date: 2019-02-25 14:57:59
 * -----
 * @Modified By: chentian
 * @Last Modified: 2019-02-25 14:57:59
 */
.qr-setting {
    .ant-input-group-wrapper {
        width: auto !important;
    }
    .ant-input-group .ant-input{
        width: 55px;
    }
    .ant-input-group-wrapper{
        padding: 0 8px;
    }
}
