/*
 * @Author: chentian
 * @Date: 2019-02-24 20:52:24
 * -----
 * @Modified By: chentian
 * @Last Modified: 2019-02-24 20:52:24
 */
.member-level {
    .ant-select{
        display: block;
        width: 400px;
        margin-bottom: 20px;
    }
}